.container{
    border-top: 1px gray solid;
    width: 100%;
}
.iconButt{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.button{
    border: 1px rgb(209, 207, 207) solid;
    cursor: pointer;
    background-color: #faf4ee;
    padding: 10px;
    border-radius: 5px;
}
.img{
    width: 100px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texts{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.text{
    display: flex;
    flex-direction: column;
}
.oneItem{
    padding: 5px;
}
.footer{
    margin-top: 25px;
    background-color: rgb(233, 205, 233);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
   
}
.footer h3{
    text-align: center;
 background-color: #fdeedf;
 padding: 26px 9px;
 border: 1px rgb(243, 217, 217) solid;
 margin: -5px;
 font-size: 20px;
 font-weight: 300;
}
.headphone{
    font-size: 35px;
    border-radius: 50%;
    padding: 6px;
    background-color: #f1c40f;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
@media screen and (max-width: 800px) {
    .container{
        width: 122%;
    }
}